{% extends "user_navbar.html" %}

{% load static %}

{% block content %}
<html>
<body>

  {% include "menu_choice.html" %}

<div>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="{% static '/images/Menu/Tartufo Pasta.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">PROFUMO DI TARTUFO - &#8369; 845.00</h5></h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>

          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src={% static '/images/Menu/Molluschi.jpg' %} class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">MOLLUSCHI - &#8369; 395.00 </h5>
              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>

          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="{% static '/images/Menu/Gamberi.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">GAMBERI - &#8369; 395.00</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
          </div>
        </div>
      </div>

<div>
    <img src={% static '/images/Menu/Filetto Di Manzo.jpg' %} width= 20%>
    <h2>- &#8369; 1,250.00 </h2>
    <ul>Ingredients:
        <li>GRILLED BEEF TENDERLOIN</li>
        <li>MUSHROOM CREAM SAUCE</li>
        <li>VEGETABLE SIDES</li>
    </ul>
    <button type="submit">Add</button>
</div>


</body>
</html>
{% endblock %}
