{% extends 'user_navbar.html'%}

{% block content%}
<h1>RULES:</h1>

<p>- No reservations on weekends (Saturday & Sunday)</p>
<p>- OPEN: Mondays to Sundays 10:00AM to 9:00PM</p>
    
<br>

<h2>Normal Reservation:</h2>
<p>- 12 person maxed</p>
<p>- Reserving a table - 15-20 mins will wait for the customer to arrive, if it not arrive on the waiting time it will be cancelled.</p>

<br>

<h2>Exclusive Reservation</h2>
<p>- 30 maxed</p>
<p>- For Exclusive Reservation, we will closed the restaurant for 3 hours.</p>
<p>- You can only reserve for 3 hours</p>
<p>- No reservation between 10:00-2:59 because of many guests</p>
<p>- You can only reserve 3:00PM-6:00PM and 6:00-9:00PM</p>
<p>- For special holidays like christmas, you can extend the 9:00PM</p>

{% endblock %}