{% extends "user_navbar.html" %}

{% load static %}

{% block content %}


<html>
  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/CSS/menu.css' %}">

  </head>

  <body>
  
    <div class="container-fluid p-0">
      <div class="image-overlay">
        <img src={% static '/images/Menu/Brodetto di Mare.jpg' %} alt="Spinach Trifolate" class="header-image">
        <div class="overlay-text"><b>ZUPPA</b></div>
      </div>
    </div>

    <div class="container">
      <div class="content-margin">
        <div class="row">
          <!-- Left side with menu categories -->
          <div class="col-lg-3">
            <a href="{% url 'Full Menu' %}"><div class="menu-category"><b>FULL MENU</b></div></a>
            <a href="{% url 'Antipasti' %}"><div class="menu-category"><b>ANTIPASTI</b></div></a>
            <a href="{% url 'Insalata' %}"><div class="menu-category"><b>INSALATA</b></div></a>
            <a href="{% url 'Zuppa' %}"><div class="menu-category"><b>ZUPPA</b></div></a>
            <a href="{% url 'Panini' %}"><div class="menu-category"><b>PANINI</b></div></a>
            <a href="{% url 'Risotto' %}"><div class="menu-category"><b>RISOTTO</b></div></a>
            <a href="{% url 'Pizza' %}"><div class="menu-category"><b>PIZZA</b></div></a>
            <a href="{% url 'Pasta' %}"><div class="menu-category"><b>PASTA</b></div></a>
            <a href="{% url 'Secondi' %}"><div class="menu-category"><b>SECONDI</b></div></a>
            <a href="{% url 'Caffe' %}"><div class="menu-category"><b>CAFFE</b></div></a>
            <a href="{% url 'Bevande' %}"><div class="menu-category"><b>BEVANDE</b></div></a>
            <a href="{% url 'Ice Cream' %}"><div class="menu-category"><b>ICE CREAM</b></div></a>
            <a href="{% url 'Cake' %}"><div class="menu-category"><b>CAKE</b></div></a>
            <a href="{% url 'Wine' %}"><div class="menu-category"><b>WINE</b></div></a>
          </div>
        
          <!-- Right side with full menu -->
          <div class="col-lg-9">

            <div class="row row-cols-1 row-cols-md-3 g-4">
            
              <div class="col">
                <div class="card h-100">
                  <img src="" class="card-img-top" alt="CIPPOLE">
                  <div class="card-body">
                    <h5 class="card-title">CIPPOLE &#8369; 355.00</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                  </div>
                </div>
              </div>
        
              <div class="col">
                <div class="card h-100">
                  <img src={% static '/images/Menu/Vongole.jpg' %} class="card-img-top" alt="VONGOLE">
                  <div class="card-body">
                    <h5 class="card-title">VONGOLE &#8369; 395.00</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                  </div>
                </div>
              </div>
        
              <div class="col">
                <div class="card h-100">
                  <img src={% static '/images/Menu/Brodetto di Mare.jpg' %} class="card-img-top" alt="BRODETTO DI MARE">
                  <div class="card-body">
                    <h5 class="card-title">BRODETTO DI MARE &#8369; 445.00</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                  </div>
                </div>
              </div>
        
              <div class="col">
                <div class="card h-100">
                  <img src="" class="card-img-top" alt="FUNGHI">
                  <div class="card-body">
                    <h5 class="card-title">FUNGHI &#8369; 415.00</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                  </div>
                </div>
              </div>
        
              <div class="col">
                <div class="card h-100">
                  <img src="" class="card-img-top" alt="MINESTRONE DI VERDURE">
                  <div class="card-body">
                    <h5 class="card-title">MINESTRONE DI VERDURE &#8369; 355.00</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                  </div>
                </div>
              </div>
        
            </div>
                    
          </div>
          
        </div>
      </div>
    </div>

  </body>
</html>

{% endblock %}