.img-fluid{
    max-width: 500px;
    min-width: 500px;
    justify-content: center;

}

.text-margin-top{
    margin-top: 60px;
}

h1,
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background-color: #D5CCAB;
}