{% extends 'Admin/admin_main.html' %}

{% block content %}

<br>

<div class="row">
    <div class="col-sm-3">
        <h5>CUSTOMERS</h5>
        <div class="card-body">
            <table class = "table table-sm">
                <tr>
                    <th></th>
                    <th>Customer</th>
                    <th>Most viewed food</th>
                </tr>
            </table>
        </div>
      </div>
    <div class="col-sm-3">
        <h5>THIS TIME MOST VIEWED</h5>
        <div class="card-body">
          <table class = "table table-sm">
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Sub Category</th>
            </tr>
        </table>
        </div>
      </div>
    </div>
  </div>      
</div>
      
{% endblock %}