{% extends 'Admin/admin_main.html' %}

{% block content %}

<div class="text-center">
    <h1>CUSTOMER</h1>
    <a href="{% url 'add_customer' %}" class="btn btn-primary">Add Customer</a>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Full Name</th>
            <th scope="col">Address</th>
            <th scope="col">Phone</th>
            <th scope="col">Date Created</th>
        </tr>
    </thead>
    <tbody>
        {% for customer in customers %}
        <tr>
            <td><a href="{% url 'customer_record' customer.id %}">{{customer.id}}</a></td>
            <td>{{customer.fullname}}</td>
            <td>{{customer.address}}</td>
            <td>{{customer.phone}}</td>
            <td>{{customer.date_created}}</td>
        </tr> 
        {% endfor %}
    </tbody>
</table>


{% endblock %}